.logo {
    width: 100px;
    margin-left: 20px;

}

#ba-photo {
    width: 100%;
}

header {
    background-color: rgb(53, 53, 53);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-brand {
    color: grey;
    font-size: 15px;
}

.comprar {
    color: green;
}

.navbar-brand:hover {
    color: white;
}

.hero {
    color: white;
    text-align: right;
    position: relative;
    align-items: right;
    height: 100vh;  
    z-index: 1;        
}

.hero:before {
    content: '';
    position: absolute;
    height: 100vh;  
    background: url('images/ba1.jpg'); 
    background-size: cover;
    filter: brightness(40%);
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;        
}

.hero-img {
    width:100%; 
    filter: brightness(40%);
    height: 100vh;
    overflow-x:hidden;    
    
}

.hero-text {
    position: absolute;
    z-index: 1;
    top: 20%;
    bottom: 20%;
    padding: 5rem;    
}



.btn {
    color: white;
}

.oradores {
    display: flex;
    align-items: center;
}

.oradores-title {
    text-align: center;
    margin-top: 20px;
}


.card-img-top {
    max-width: 100%;
}

.card-group {
    justify-content: center;

}

.text-bg-info {
    color: white !important;
}

h5 {
    font-weight: 400;
}

.date {
    margin-top: 50px;
}

.date img {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.date-text {
    background-color: rgb(49, 49, 49);
    color: white;
}

.form-section {
    text-align: center;
}

#underline {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.form-data {
    display: inline-block;
    width: 50%;
    margin: 0 !important;

}

.btn-success {
    background-color: rgb(103, 172, 0);
}

.btn-enviar {
    width: 100%;
}

.footer {
    background-color: rgb(62, 63, 62);

}

.footer a {
    color: white;
}

.charla {
    text-align: start;
    color: grey;
    font-size: xx-small;
}

/* @media (max-width: 1150px) {
    .hero-text {
        top: 2rem;
       
    }
} */
@media (max-width: 456px){
    .hero-text{
        
        padding: 5rem 2rem;
    }
}

